.v-secondary {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    border: #ffffff 1pt solid;
    border-radius: 1pt;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    overflow: hidden;
    display: flexbox;
    width: 100%;
    margin: 0   ;
    padding: 5vw;
  }
  .sigarea {
    position: absolute;
    top: 90svh;
    /* display: block !important; */
  }
  footer div p {
    display: inline-block;
    flex-grow: 1;
  }